body {
    background-image: url("../images/WallpaperDog-20550095.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

h1 {
    text-align: center;
    color: darkslateblue;
}